.itemdetailssection--primary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemdetailssection__namehead {
    font-family: 'Fortnite', sans-serif;
    font-size: 2em;
    color: white;
}