.dailyitemsection--primary {
    padding: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

@media only screen and (max-width: 600px) {
    .dailyitemsection--primary {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .dailyitemsection--primary {
        grid-template-columns: 1fr 1fr 1fr;
    }
}