.navbar--primary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: #6930c3;
}

.navbarmenu--primary {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.navbarmenu__item {
    color: white;

    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
}
.navbarmenu__button {
    color: white;
    background-color: #64dfdf;
    border-radius: 30px;
    border: 1px solid transparent;
    padding: 5px 15px;
    outline: none;
    margin: 0px 20px;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    cursor: pointer;
}



@media only screen and (max-width: 700px) {

    .mobilemenuicon {
        padding-right: 20px;
    }

    .mobilepopupmenu--primary {
        display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    height: 1000vh;
    background: #6930c3;
    }

    .mobilepopupmenu__icon {
        padding-right: 20px;
    }



    .xcloseiconsection--primary {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
    }

    .xcloseiconsection__icon {
        height: 50px;
        width: 50px;
        margin: 20px;
    }

    .mobilepopupmenu__ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 0px;
        list-style: none;
    }


    .mobilepopupmenu__option {
        padding: 25px 0px 15px 0px;
        border-bottom: 1px solid #252525;
        width: 100%;
        text-align: center;
    }
    
    .mobilepopupmenu__option:first-of-type {
        border-top: 1px solid #252525;
    }

    .mobilepopupmenu__optionlink {
        color: white;
        text-decoration: none;
        font-family: 'Fortnite';
        font-size: 2.5em;
        letter-spacing: 1px;
    }
}