.itemdetails--primary {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.itemcarddetails--primary {
    display: flex;
}

.itemcardattributestable--primary {
    margin: 0px;

    width: 100%;
    border-collapse: collapse;
    border-bottom-right-radius: 20px;

}

.itemcardattributestable__data {
    border-bottom: 1px solid rgba(207,206,207, 0.45);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-align: center;
    background-color: rgba(207, 206, 207, 0.25);
} 

.itemcardattributestable__datahead {
    border-bottom: 1px solid rgba(207,206,207, 0.45);
    border-right: 1px solid rgba(207,206,207, 0.45);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
    padding: 0px 5px 0px 5px;
    width: 50%;
    background-color: rgba(207, 206, 207, 0.25);
    font-style: italic;

} 

.itemdescription__head {
    
    font-family: 'Fortnite', sans-serif;
    font-size: 2.25em;
    padding: 0px;
    margin: 10px 0px 0px 0px;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
}
.itemdescription__text {

    font-style: italic;
    font-size: 0.95em;
    text-align: center;
    width: 100%;
    font-family: Catamaran;
    letter-spacing: 0px;
    margin: 13.5px 0px;
    padding: 0px;
}

.itemdescription--primary {

    display: flex;
    flex-direction: column;
    width: 100%;


}

.itemtextdetails--primary {

    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    color: white;
}

.itemintroduction--primary, .itemdescription--primary {
    display: flex;
    flex-direction: column;
}


.mainitemsection--primary {
    display: flex;
    width: 75%;
    background: rgba(37, 37, 37, 0.50);
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}

.shophis--primary {
    width: 100%;
}

@media only screen and (max-width: 700px) {
    .itemdetails--primary {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(37, 37, 37, 0.01);
        width: 100%;
        
    }
    .mainitemsection--primary {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .shophis--primary {
        width: 100%;
        margin: 17.5px 0px 0px 0px;
    }

    .itemdescription--primary {
        width: 100%;
        margin: 15px 0px;
    }

}


@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .mainitemsection--primary {
        width: 100%;
        flex-direction: column;
    }
    .itemdetails--primary {
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    .itemdescription--primary {
        width: 100%;
        margin: 15px 0px 15px 7.5px;
    }

}