.itemdetails--primary {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    padding: 25px;
    background: rgba(37, 37, 37, 0.50);
}

.itemcarddetails--primary {
    display: flex;
    flex-direction: column;
}

.itemcard--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemcard__link {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.itemcardimage--primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.itemcardinfo--primary {
    display: flex;
    flex-direction: column;
    background-color: rgba(207, 206, 207, 0.25);
    width: 100%;
    align-items: center;
}

.itemcardinfo__name {
    padding: 10px 0px 5px 0px;
    margin: 0px;
    font-family: 'Fortnite', sans-serif;
    font-size: 2em;
    color: white;
    border-bottom: 1px solid rgba(206, 207, 207, 0.45);
    border-top: 1px solid rgba(206, 207, 207, 0.45);
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}

.itemcardprice--primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.itemcardprice__image {
    height: 25px;
    width: 25px;
    margin: 0px 2.5px;
}
.itemcardprice__text {
    font-family: 'Fortnite', sans-serif;
    padding: 10px 0px 5px 0px;
    margin: 0px 2.5px;
    text-align: center;
    font-size: 2em;
    color: white;
}

.itemcardattributestable--primary {

    width: 100%;
    border-collapse: collapse;
    border-bottom-right-radius: 20px;

}

.itemcardattributestable__data {
    border-bottom: 1px solid rgba(207,206,207, 0.45);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    text-align: center;
    background-color: rgba(207, 206, 207, 0.25);
} 

.itemcardattributestable__datahead {
    border-bottom: 1px solid rgba(207,206,207, 0.45);
    border-right: 1px solid rgba(207,206,207, 0.45);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
    padding: 0px 5px 0px 5px;
    width: 40%;
    background-color: rgba(207, 206, 207, 0.25);
    font-style: italic;

} 


.itemtextdetails--primary {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    color: white;
}

.itemintroduction--primary, .itemdescription--primary {
    display: flex;
    flex-direction: column;
}

.mainitemsection--primary {
    display: flex;
    width: 60%;
}

@media only screen and (max-width: 600px) {
    .itemdetails--primary {
        display: flex;
        flex-direction: column;
        background: rgba(37, 37, 37, 0.01);
    }
    .mainitemsection--primary {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
}
