
.setitemcard--primary {
    margin: 10px;
    height: 150px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.setitemcard--primary:hover {
    opacity: 0.625;
}




.setitemcard__image {
    height: 150px;
    width: 150px;
}