.featureditemsection--primary {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 4px solid white;
    grid-gap: 10px;
    background-color: #64dfdf;
}