.item--primary {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 25px 25px;
    height: 100%;
    padding: 25px;
    flex-grow: 1;
}