.set--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set__head {
    color: white;
    font-family: Fortnite;
}

.setcards--primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-evenly;
}