

    
.stats--primary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}


.stats__head {
    color: white;
    font-family: 'Fortnite';
    font-size: 2.5em;
    margin: 0px;
}

.stats__text {
    color: red;
    font-family: UbuntuR;
    text-align: center;
}

.stats__form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;
}

.stats__inputaccountname {
    width: 50%;
    padding: 10px 0px 10px 15px;
    height: 25px;
    border: none;
    outline: none;
}

.timewindow__text {
    color: white;
    font-family: UbuntuR;
    margin: 10px 0px 0px 0px;
}

.timewindow--primary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timewindowbuttons--primary {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.timewindowbuttons__button {
    width: 50%;
    padding: 15px 0px;
    border-radius: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 15px 0px;
    font-family: UbuntuB;
    transition: 0.5s;
}

.stats__buttonlink {
    width: 100%;
}

.platformbuttons--primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;

}

.timewindowbuttons__button:hover {
    opacity: 0.75;
}

.platformbuttons__epic, .platformbuttons__psn, .platformbuttons__xbox {
    outline: none;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;
    transition: 0.5s;
}


.platformbuttons__epic:hover, .platformbuttons__psn:hover, .platformbuttons__xbox:hover {
    opacity: 0.5;
}

.platformbuttons__psn {
    padding: 10px 37.5px;
    background: #006FCD;
}

.xboxicon {
    height: 30px;
    width: 30px;    
}

.psnicon {
    height: 25px;
    width: 25px;
}

.epicicon {
    height: 30px;
    width: 30px;
}

.platformbuttons__xbox {
    padding: 7.5px 35px;
    background: #4eba94;
}

.platformbuttons__epic {
    background: #5f5f5f;
    padding: 7.5px 35px;
}

button, .stats__buttonlink {
    -webkit-tap-highlight-color: transparent;
}

.instructionscont--primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding: 0px;
}

.instructions--primary {
    width: 50%;
    height: 100%;
    
}

.instructions__head {
    color: white;
    width: 100%;
    font-family: Fortnite;
    padding: 15px 0px 10px 0px;
    margin: 0px;
    background: #6930c3;
    font-size: 2em;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;

}

.instructionstext--primary {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
}

.instructions__questions {
    color: white;
    text-indent: 0.5em;
    font-weight: 700;
}

.instructions__answers {
    color: white;
    text-indent: 1em;
    margin: 10px 0px;
}

.instructions__ol {
    margin: 0px;
}

.instructions__option {
    margin: 10px 0px;
    font-size: 0.90em;
}

.instruction__optionwarning {
    color: red;
    font-weight: 700;
    font-size: 0.95em;
}

@media only screen and (max-width: 700px) {
    .stats__inputaccountname {
        width: 75%;
    }

    .stats__form {
        width: 100%;
    }
    .timewindowbuttons--primary {
        width: 100%;
        padding: 15px 0px;
        
    }
    .timewindowbuttons__button {
        width: 50%;
        margin: 0px;
        border-radius: 0px;
        font-family: 1.8em;
    }

    .platformbuttons--primary {
        width: 100%;
        overflow: hidden;
    }

    .platformbuttons__epic, .platformbuttons__psn, .platformbuttons__xbox {
        width: 35vw;
        height: 7.5vh;
        margin: 0px;
        border-radius: 0px;

    }

    .instructionscont--primary {
        width: 100%;
        flex-direction: column;
    }

    .instructions--primary {
        width: 100%;
    }

    .instructions__head {
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .timewindowbuttons--primary {
        width: 100%;
        padding: 15px 0px;
        
    }
    
    .platformbuttons--primary {
        width: 100%;
    }
    
    .stats__inputaccountname {
        width: 75%;
    }

    .stats__form {
        width: 90%;
    }
    
    .instructionscont--primary {
        width: 90%;
    }
    
    .instructions__head {
        font-size: 1.375em;
    }
    
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    .stats__form {
        width: 90%;
    }

    .instructionscont--primary {
        width: 75%;
    }
}