

    
.stats--primary {
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.stats__head {
    color: white;
    font-family: 'Fortnite';
    padding: 10px 0px 0px 0px;
    font-size: 2.5em;
    border: 1px solid white;
}

.stats__text {
    color: red;
    font-family: UbuntuR;
    text-align: center;
}

.stats__form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

.stats__inputaccountname {
    width: 50%;
    padding: 10px 0px 10px 15px;
    height: 25px;
    border: none;
    outline: none;
}

.timewindow__text {
    color: white;
    font-family: UbuntuR;
    margin: 10px 0px 0px 0px;
}

.timewindow--primary {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timewindowbuttons--primary {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.timewindowbuttons__button {
    width: 50%;
    padding: 15px 0px;
    border-radius: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 15px 0px;
    font-family: UbuntuB;
}

.stats__buttonlink {
    width: 100%;
}

.platformbuttons--primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;

}

.platformbuttons__epic, .platformbuttons__psn, .platformbuttons__xbox {
    outline: none;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 100%;

}
.platformbuttons__psn {
    padding: 10px 37.5px;
    background: #006FCD;
}

.xboxicon {
    height: 30px;
    width: 30px;    
}

.psnicon {
    height: 25px;
    width: 25px;
}

.epicicon {
    height: 30px;
    width: 30px;
}

.platformbuttons__xbox {
    padding: 7.5px 35px;
    background: #4eba94;
}

.platformbuttons__epic {
    background: #5f5f5f;
    padding: 7.5px 35px;
}



button, .stats__buttonlink {
    -webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 700px) {
    .stats__inputaccountname {
        width: 75%;
    }

    .stats__form {
        width: 100%;
    }
    .timewindowbuttons--primary {
        width: 100%;
        padding: 15px 0px;
        
    }
    .timewindowbuttons__button {
        width: 50%;
        margin: 0px;
        border-radius: 0px;
        font-family: 1.8em;
    }

    .platformbuttons--primary {
        width: 100%;
        overflow: hidden;
    }

    .platformbuttons__epic, .platformbuttons__psn, .platformbuttons__xbox {
        width: 35vw;
        height: 7.5vh;
        margin: 0px;
        border-radius: 0px;

    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .timewindowbuttons--primary {
        width: 100%;
        padding: 15px 0px;
        
    }

    .platformbuttons--primary {
        width: 100%;
    }

    .stats__inputaccountname {
        width: 75%;
    }
}