body {
  background-color: #252525;
}

@font-face {
  font-family: Fortnite;
  src: url(./media/fonts/BurbankBigCondensed-Black.otf);
}

@font-face {
  font-family: Catamaran;
  src: url(./media/fonts/Catamaran-Regular.ttf);
}