body {
  background-color: #252525;
}

@font-face {
  font-family: Fortnite;
  src: url(./media/fonts/BurbankBigCondensed-Black.otf);
}

@font-face {
  font-family: Catamaran;
  src: url(./media/fonts/Catamaran-Regular.ttf);
}

@font-face {
  font-family: Lato;
  src: url(./media/fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(./media/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: UbuntuR;
  src: url(./media/fonts/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: UbuntuM;
  src: url(./media/fonts/Ubuntu-Medium.ttf);
}
@font-face {
  font-family: UbuntuB;
  src: url(./media/fonts/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: Bold;
  src: url(./media/fonts/theboldfont.ttf);
}