.playerstats--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid white;
}

.playerstatsbuttons--primary {
    border: 1px solid white;
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.playerstatstimewindowbuttons--primary {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid green;

}

.playerstatstimewindowbuttons__button {
    width: 50%;
    padding: 15px 0px;
    border-radius: 0px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: UbuntuB;
}



.playerstats__username {
    font-family: 'Fortnite';
    color: white;
    letter-spacing: 1px;
}

.statssection--primary {
    width: 75%;

}
.overallstats__text, .overallstats__head {
    color: white;
}

.overallstats__head {
    margin: 5px 0px 0px 0px;
    padding: 0px 0px 0px 5px;
    font-family: Fortnite;
    letter-spacing: 1px;
}

.overallstats--primary {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    background: #333333;
}

.overallstatsheadsection {
    background: #ee6f57;
    width: 100%;
    border: 1px solid white;
}

.statssection--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.statcards--primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
    background: #333333;
}



/*                                                   */



@media only screen and (max-width: 700px) {
    .statssection--primary {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
     
    .statcards--primary {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .timewindowchange--primary {
        border: 1px solid white;
        width: 100%;
    }

    .playerstatsbuttons--primary {
        width: 100%;
    }

    .overallstats--primary {
        width: 100%;
    }

    .overallstats__head {
        font-size: 1.5em;
        margin: 0px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .statcards {
        width: 100%;
    }
}