.playerstats--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid white;
}



.playerstats__username {
    font-family: 'Fortnite';
    color: white;
    letter-spacing: 1px;
}

.statssection--primary {
    width: 75%;

}
.overallstats__text {
    color: white;
}

.overallstats--primary {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
}

.overallstatsheadsection {
    background: #ee6f57;
    width: 100%;
    border: 1px solid white;
}

.statssection--primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.statcards--primary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
}



/*                                                   */



@media only screen and (max-width: 700px) {
    .statssection--primary {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
     
    .statcards--primary {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .timewindowchange--primary {
        border: 1px solid white;
        width: 100%;
    }

    .playerstatsbuttons--primary {
        width: 100%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
    .statcards {
        width: 100%;
    }
}